:root {
  --primary-color: #2196f3;
  --footer-and-section-color: #2f303a;
  --second-primary-color: #212121;
  --third-primary-color: #757575;
  --basic-white-color: #ffffff;
  --background-dark-transparent: #2f303a66;
  --social-links-color: #afb1b8;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
}

.logo-font {
  color: var(--primary-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.span-head {
  color: #000000;
}

.logo-font:hover,
.menu:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.logo-font,
.menu:focus {
  color: var(--primary-color);
}

.menu {
  color: var(--second-primary-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
}

.menu:hover {
  color: var(--primary-color);
}
.site-nav {
  border-bottom: 2px solid #ececec;
  display: flex;
  align-items: center;
}

.ul-info-links {
  display: flex;
  padding: 0;
  column-gap: 46px;
  margin-left: 93px;
}

.link-list {
  margin: 32px 0;
  list-style: none;
}

.contact {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.contact-links {
  color: var(--third-primary-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  fill: currentColor;
}
.contact-links:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.wrapper {
  display: flex;
  align-items: center;
}

.headline-one {
  font-style: normal;
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-white-color);
  text-align: center;
  box-sizing: border-box;
}
.section-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 106px 0px;
}
.section {
  padding: 94px 0;
  margin: 0 auto;
}
.section-info {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--second-primary-color);
  background-color: var(--footer-and-section-color);
}
.hero-bg {
  /* background-image: url('../images/background.jpg'); */
  background: linear-gradient(
      var(--background-dark-transparent),
      var(--background-dark-transparent)
    ),
    url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.button-click {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--primary-color);
  box-shadow: #00000f;
  border-radius: 4px;
  color: var(--basic-white-color);
  border: none;
  outline: none;
  margin-top: 30px;
  font-style: Bold;
  font-size: 16px;
  line-height: 30px;
  line-height: 160%;
}

.article-info {
  /* padding-top: 94px;
  padding-bottom: 94px; */
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.headline-two {
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-primary-color);
  padding-bottom: 10px;
}

.pictures {
  display: flex;
  gap: 30px;
  justify-content: center;
  /* padding-bottom: 94px; */
}
.titles {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titles-team {
  background-color: #f5f4fa;
  text-align: center;
  row-gap: 30px;
}

.our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-top: 94px; */
  padding-bottom: 50px;
}
.lorem-section {
  display: flex;
  gap: 30px;
  max-width: 1200px;
}

.position {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--third-primary-color);
}

.no-list {
  list-style: none;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.li-no-list {
  list-style: none;
  padding-top: 10px;
  border-radius: 0px 0px 4px 4px;
}

.list-style {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-primary-color);
}

.team {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-primary-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.johndoe {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--second-primary-color);
}
/* .box-shadow {
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024, 0px 2px 1px #00000033;
  border-radius: 0px, 0px, 4px, 4px;
} */

.footer-logo {
  color: var(--primary-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.span-footer {
  color: var(--basic-white-color);
}

.contact-info:hover,
.footer-logo:hover {
  text-decoration: underline;
  color: var(--primary-color);
  /* }
.footer-info-wrapper {
  padding-top: 60px;
  padding-bottom: 60px; */
}
.contact-info-mail:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.address-info {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.contact-info {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff99;
}
.contact-info-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff99;
  text-decoration: underline;
  text-decoration-color: var(--third-primary-color);
}
.contact-div {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer-info {
  background-color: var(--footer-and-section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.city-street {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--basic-white-color);
}

.city-street:hover {
  color: var(--primary-color);
}

.ul-info-port {
  list-style: none;
}

.wrapper-port {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 94px;
  padding-bottom: 50px;
}

.names {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--second-primary-color);
}

.ul-info-port input[type='button'] {
  margin: 5px;
  width: 121px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  outline: none;
  border-radius: 4px;
}
.ul-info-port [type='button'] .active,
input[type='button']:hover {
  color: white;
  background-color: var(--primary-color);
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
}

.service {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--third-primary-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 50px;
  column-gap: 30px;
  padding-bottom: 94px;
}

.contact-icon {
  vertical-align: middle;
  fill: #757575;
}

.contact-icon:hover {
  fill: var(--primary-color);
}

.atuts-icon {
  fill: #212121;
}

.atuts-icon:hover {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}
.lorem-icon {
  padding: 25px 102.34px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.lorem-icon2 {
  padding: 25px 101.54px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.lorem-icon3 {
  padding: 33.2px 100px 33.11px 100px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.lorem-icon4 {
  padding: 30.23px 115.17px 29.11px 100px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.social-icons {
  padding: 16px 22px 30px 32px;
  justify-content: center;
  align-items: center;
}
.pure-list {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px 30px 32px;
}
.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.sm-circle {
}

.sm-icons {
  fill: var(--social-links-color);
}

.sm-circle:hover > .sm-icons,
.sm-circle:focus > .sm-icons {
  fill: var(--basic-white-color);
}

.sm-circle:hover,
.sm-circle:focus {
  background-color: var(--primary-color);
  outline: none;
}

.our-customers h2 {
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  font-family: 'Roboto';
}
.our-customers-bg {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-links-color);
  border-radius: 4px;
  margin-top: 50px;
}
.our-customers-bg:hover {
  border: 1px solid var(--primary-color);
}
.our-customers-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.icon-customers {
  display: flex;
  margin: 16px 32px 16px 32px;
  color: var(--social-links-color);
}
.icon-customers:hover {
  fill: var(--primary-color);
}
